.container{
	 background-color: gray;
	 padding-top: 30px;
	 margin-top: 50px;
	 width: 40%;
	 height: 350px;
}
input{
 width: 50%;
 height: 30px;
 padding-top: 10px;
 position: relative;

}
label{
	position: relative;
	padding-right: 5px;
}
button{
 width: 20%;
 height: 35px;
 padding-top: 10px;
 position: relative;
 background-color: green;
 border-inline: none;
}